<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{baseUrl}}bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{baseUrl}}bower_components/open-sans-fontface/open-sans.css" type="text/css"/>
    <link rel="stylesheet" href="{{baseUrl}}stylesheets/style.css"/>
    <link rel="stylesheet" href="{{baseUrl}}bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="{{baseUrl}}bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{baseUrl}}">{{title}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{baseUrl}}"><span class="glyphicon glyphicon-plus"></span> Add snippet</a></li>
                    <li><a href="{{baseUrl}}browse"><span class="glyphicon glyphicon-th-list"></span> Browse snippets</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div>
{{{body}}}

<script type="text/javascript" src="{{baseUrl}}bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}bower_components/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="{{baseUrl}}bower_components/codemirror/addon/mode/loadmode.js"></script>
<script type="text/javascript" src="{{baseUrl}}bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}bower_components/clipboard/dist/clipboard.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}bower_components/jquery-loading/dist/jquery.loading.min.js"></script>
<script type="text/javascript" src="{{baseUrl}}javascripts/scripts.js"></script>
</body>
</html>
